/* Sidebar */

#sidebar {
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    box-shadow: 3px 0 5px 0 #e7e7e7;
    height: 100vh;
    min-height: 100vh;
    min-width: 220px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 220px;
    z-index: 100;
}

.nome-sidebar {
    position: absolute;
    text-align: center;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 87%;
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
}

.nome {
    position: absolute;
    left: 9.09%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.logo {
    position: absolute;
    bottom: 45%;
}

.menu-sidebar {
    position: absolute;
    bottom: 30%;
    background: transparent;
}

#menu {
    position: absolute;
    width: 100%;
    margin: 0;
    top: 93%;
    left: 0%;
    right: 100%;
    padding: 0;
    align-items: right;
    background: #FFFFFF;
}

#menu ul li {
    margin: 0;
    padding: 0px;
    border-bottom: 1px solid #CCC;
    text-align: left;
    list-style-type: none;
}

#menu a:link {
    background: #FFFFFF;
    color: #666;
    font-weight: bold;
    text-decoration: none;
    padding: 8px;
    display: block;
    right: 50%;
}

#menu a:hover {
    background: #E5F0FF;
    color: #039;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

li {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    color: #725C5C;
}

/* Primeiro container */

#container-primeiro {
    position: absolute;
    width: 1142px;
    height: 90px;
    left: 220px;
    top: 0px;
    background: #FDF1EB;
}

.titulo1 {
    position: absolute;
    width: 391px;
    height: 16px;
    left: 20px;
    top: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #725C5C;
}

.titulo2 {
    position: absolute;
    width: 643px;
    height: 26px;
    left: 20px;
    top: 23px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #725C5C;
}

.numero {
    position: absolute;
    width: 105px;
    height: 16px;
    left: 20px;
    top: 48px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #725C5C;
}

.btn-lingua {
    box-sizing: border-box;
    position: absolute;
    width: 97px;
    height: 34px;
    left: 740px;
    top: 23px;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    background-color: transparent;
    text-align: center;
}

.seta {
    display: inline-block;
    width: 5;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 5px dashed;
    border-top: 5px solid \9;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    text-align: center;
}

.bemvindo {
    position: absolute;
    width: 30%;
    left: 700px;
    right: 2.53%;
    top: 10px;
    bottom: 27.94%;
    text-align: right;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.email {
    position: absolute;
    width: 30%;
    left: 700px;
    right: 2.53%;
    top: 30px;
    bottom: 27.94%;
    text-align: right;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.imagem-login {
    position: absolute;
    left: 1050px;
    top: 20px;
    border-radius: 50%;
    width: 4%;
}

/* Segundo container */

.titulo {
    position: absolute;
    height: 54px;
    left: 240px;
    right: 380px;
    top: 90px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: #ED7839;
}

.btn-download {
    box-sizing: border-box;
    position: absolute;
    width: 10%;
    left: 80%;
    right: 10%;
    top: 18%;
    bottom: 79%;
    text-align: center;
    background: #ED7839;
    border-radius: 4px;
    font-size: 120%;
    color: #FFFFFF;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.btn-favorito {
    box-sizing: border-box;
    position: absolute;
    width: 3%;
    left: 91%;
    right: 10%;
    top: 18%;
    bottom: 79%;
    background: #ED7839;
    border-radius: 4px;
    font-size: 120%;
    color: #FFFFFF;
    text-align: center;
    font-size: 100%;
}

.btn-doi {
    box-sizing: border-box;
    position: absolute;
    width: 3%;
    left: 95%;
    right: 10%;
    top: 18%;
    bottom: 79%;
    text-align: center;
    background: #ED7839;
    border-radius: 4px;
    font-size: 120%;
    color: #FFFFFF;
    align-items: center;
}

.citar-trabalho {
    position: absolute;
    height: 30px;
    left: 720px;
    right: 30px;
    top: 105px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #ED7839;
}